<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:replace="init :: title">Danh sách kế hoạch</title>
    <th:block th:replace="init :: styles"></th:block>
</head>
<body>
    <div th:replace="init :: header"></div>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar chỉ hiện trên màn hình md trở lên -->
            <div class="col-md-3 col-lg-2 d-none d-md-block bg-light border-end vh-100 sticky-top pt-3">
                <div th:replace="init :: sidebar"></div>
            </div>
            </div>


            <div class="col-md-9 col-lg-10 pt-3">
                <h1>Quảng cáo</h1>
            </div>
        </div>
    </div>


    <div th:replace="init :: footer"></div>
</body>
</html>
