<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang quản lý gói tập</title>
    <th:block th:replace="~{init :: styles}"></th:block>
</head>

<body>
    <div th:replace="~{init :: header}"></div>
    <div class="container">
        <form th:action="@{/plan-update}" th:object="${plan}" method="post">
            <div class="form-group">
                <label for="des">Tên gói tập:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nhập tên gói tập" required/>
            </div>
            
            <div class="form-group">
                <label for="date">Giá gói tập:</label>
                <input type="number" class="form-control" id="price" th:field="*{price}" required/>
            </div>

            <div class="form-group">
                <label for="date">Số ngày gia hạn:</label>
                <input type="number" class="form-control" id="durationDays" th:field="*{durationDays}" required/>
            </div>
            
            <div class="form-group">
                <label for="des">Mô tả gói tập:</label>
                <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Mô tả chi tiết gói tập" />
            </div>
            
            <div class="col-12 d-flex justify-content-between align-items-center mt-4">
                <input type="hidden" class="form-control" th:field="*{id}" />
                <a href="/plans" class="btn btn-secondary">← Quay lại</a>
                <button class="btn btn-success mt-1" type="submit">
                    <span th:if="${plan.id == null}">Thêm sản phẩm</span>
                    <span th:unless="${plan.id == null}">Cập nhật</span>
                </button>
            </div>
        </form>
    </div>
    <th:block th:replace="~{init :: footer}"></th:block>
</body>
</html>
