<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang quản lý loại nhân viên</title>
    <th:block th:replace="init :: styles"></th:block>
</head>

<body>
    <div th:replace="init :: header"></div>
    <div class="container">
        <form th:action="@{/staff-type-update}" th:object="${staffType}" method="post">
            <div class="form-group">
                <label for="name">Tên loại nhân viên:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nhập tên loại nhân viên" />
            </div>

            <div class="form-group">
                <label for="salary">Lương cơ bản:</label>
                <input type="number" class="form-control" id="salary" th:field="*{salary}" placeholder="Nhập mức lương" />
            </div>

            <div class="form-group">
                <label for="dayOff">Số ngày nghỉ:</label>
                <input type="number" class="form-control" id="dayOff" th:field="*{dayOff}" placeholder="Nhập số ngày nghỉ" />
            </div>

            <div class="form-group">
                <label for="description">Mô tả:</label>
                <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Nhập mô tả" />
            </div>

            <div class="col-12 d-flex justify-content-between align-items-center mt-4">
                <input type="hidden" th:field="*{id}" />
                <a href="/staff-types" class="btn btn-secondary">← Quay lại</a>
                <button class="btn btn-success mt-1" type="submit">
                    <span th:if="${staffType.id == null}">Thêm loại nhân viên</span>
                    <span th:unless="${staffType.id == null}">Cập nhật</span>
                </button>
            </div>
        </form>
    </div>
    <div th:replace="init :: footer"></div>

</body>
</html>

